.main-title {
    color: tomato;
    background-color: peachpuff;
    text-align: center;
}
.main-picture {
    height: auto;
    width: auto;
    ;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}